[project]
name = "asf-lib"
version = "0.0.1.15"
requires-python = ">= 3.10"
authors = [
  {name = "Hadar Shavit", email = "shavit@aim.rwth-aachen.de"},
]
maintainers = [
  {name = "Hadar Shavit", email = "shavit@aim.rwth-aachen.de"},
]
description = "Under construction! Algorithm selection framework"
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research", 
  "Natural Language :: English",
  "License :: OSI Approved :: MIT License",
  "Operating System :: POSIX :: Linux",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
]


