body {
  font-family: "Open Sans";
}

h1 {
  border: 2px #eee solid;
  color: brown;
  text-align: center;
  padding: 10px;
}

h5 {
  border: 2px #eee solid;
  color: blue;
  text-align: left;
  padding: 3px;
}

input[type="file"] {
  display: none;
}

.flex-column {
  gap: 10px 10px;
  max-width: 95vw;
  margin: auto;
}

.row {
  gap: 10px 10px;
  margin: 0;
}

.col {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 5px;
  padding-left: 1px;
  padding-right: 1px;
  align-content: center;
}

.sub_head {
  margin: 10px;
  margin-bottom: 25px;
}

.custom-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.custom-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.custom-button:hover {
  background-color: #2c974b;
}

.custom-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.custom-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.custom-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.pgb .step {
  text-align: center;
  position: relative;
}
.pgb h2 {
  font-size: 1.3rem;
}
.pgb .step p {
  position: absolute;
  height: 60px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 3;
  color: #fff;
  font-size: 160%;
  line-height: 55px;
  opacity: 0.7;
}
.pgb .active.step p {
  opacity: 1;
  font-weight: 600;
}
.pgb .img-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9e9e9e;
  border: 4px solid #fff;
}
.pgb .complete .img-circle {
  background-color: #4caf50;
}
.pgb .active .img-circle {
  background-color: #ff9800;
}
.pgb .error .img-circle {
  background-color: #ac0000;
}
.pgb .step .img-circle:before {
  content: "";
  display: block;
  background: #9e9e9e;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 0;
  z-index: -1;
  margin-right: 24px;
}
.pgb .step .img-circle:after {
  content: "";
  display: block;
  background: #9e9e9e;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: -1;
}
.pgb .step.active .img-circle:after {
  background: #9e9e9e;
}

.pgb .step.complete .img-circle:after,
.pgb .step.active .img-circle:before {
  background: #4caf50;
}

.pgb .step:last-of-type .img-circle:after,
.pgb .step:first-of-type .img-circle:before {
  display: none;
}
